# World bank

In [10]:

# Inflation, consumer prices (annual %)
import pandas as pd

# df = pd.read_csv("./Metadata_Country_API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_4150738.csv")
df = pd.read_csv("./world-bank-data-clone.csv")
display(df)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.750981,5.370290,5.250171,6.571396,6.399343,4.720811,4.120246,5.191456,NaN,NaN
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.437609,NaN,NaN
4,Angola,AGO,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228,3.353691,NaN
262,"Yemen, Rep.",YEM,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,...,5.784469,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,NaN
264,Zambia,ZMB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585,NaN,NaN
265,Zimbabwe,ZWE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817,NaN,NaN

In [12]:
new_column_name = ['country_name', 'country_code', 'indicator_name', 'indicator_code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66']

df.columns = new_column_name

In [15]:
df['country_name'].sort_values().unique()

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Faroe Islands', 'Fiji', 'Finland',
       'Fragile and conflict affected situations', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Not classified',
       'OECD members', 'Oman', 'Other small states',
       'Pacific island small states', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [16]:
df[df['country_name'] == 'Malaysia']

,country_name,country_code,indicator_name,indicator_code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
169,Malaysia,MYS,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,0.063183,-0.180408,0.10844,3.105254,-0.402732,-0.105485,...,2.105012,3.142991,2.10439,2.090567,3.871201,0.884709,0.662892,-1.138702,2.477102,NaN

# International Monetary Fund

In [44]:
# CPI
import pandas as pd
imf_cpi_df = pd.read_csv(r"./CPI_timeSeries.csv", dtype=str)

imf_cpi_df.head()

In [33]:
rename_columns = {
    'Country Name': 'country_name', 
    'Country Code': 'country_code', 
    'Indicator Name': 'indicator_name',
    'Indicator Code': 'indicator_code', 
    'Attribute': 'attribute', 
    'Common Reference Period': 'common_reference_period'}

imf_cpi_df.rename(columns = rename_columns, inplace=True)
imf_cpi_df.columns

Index(['country_name', 'country_code', 'indicator_name', 'indicator_code',
       'attribute', '1950', '1950Q1', '1950M1', '1950M2', '1950M3',
       ...
       '2021M11', '2021M12', '2022Q1', '2022M1', '2022M2', '2022M3', '2022M4',
       '2022M5', 'common_reference_period', 'Unnamed: 1236'],
      dtype='object', length=1237)

In [17]:
# CPI
column_type = {

}

import pandas as pd
imf_cpi_df = pd.read_csv(r"./CPI_metadata.csv", dtype=column_type)

imf_cpi_df.head()

,Dataset Name,Dataset Code,Country Name,Country Code,Indicator Name,Indicator Code,Metadata Attribute,Metadata Value,Frequency
0,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Category,Main,NaN
1,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Dataset,Consumer Price Index (CPI),NaN
2,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Definition,Consumer price indexes (CPIs) are index number...,NaN
3,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Frequency,"Annual,Monthly,Quarterly",NaN
4,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Geographic Coverage,Data available for more than 100 countries.,NaN

In [23]:
# Remove unuse column
imf_cpi_df.drop(['Dataset Name', 'Dataset Code'], inplace=True , axis=1)
imf_cpi_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Metadata Attribute,Metadata Value,Frequency
0,NaN,NaN,NaN,NaN,Category,Main,NaN
1,NaN,NaN,NaN,NaN,Dataset,Consumer Price Index (CPI),NaN
2,NaN,NaN,NaN,NaN,Definition,Consumer price indexes (CPIs) are index number...,NaN
3,NaN,NaN,NaN,NaN,Frequency,"Annual,Monthly,Quarterly",NaN
4,NaN,NaN,NaN,NaN,Geographic Coverage,Data available for more than 100 countries.,NaN

In [22]:
# Remove unuse row
imf_cpi_df.head()

,Dataset Name,Dataset Code,Country Name,Country Code,Indicator Name,Indicator Code,Metadata Attribute,Metadata Value,Frequency
0,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Category,Main,NaN
1,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Dataset,Consumer Price Index (CPI),NaN
2,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Definition,Consumer price indexes (CPIs) are index number...,NaN
3,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Frequency,"Annual,Monthly,Quarterly",NaN
4,Consumer Price Index (CPI),CPI,NaN,NaN,NaN,NaN,Geographic Coverage,Data available for more than 100 countries.,NaN

# WEO PUB data massage (IMF)

In [ ]:
# Defination of WEO data
unit_code_dict = {
    'A': 'Current international dollar',
    'B': 'Index',
    'C': 'Index, 2000=100',
    'D': 'Index, 2005=100',
    'E': 'National currency',
    'F': 'National currency per current international dollar',
    'G': 'Percent',
    'H': 'Percent change',
    'I': 'Percent change (market exchange rates)',
    'J': 'Percent of exports of goods and services',
    'K': 'Percent of GDP',
    'L': 'Percent of potential GDP',
    'M': 'Percent of total labor force',
    'N': 'Persons',
    'O': 'U.S. cents',
    'P': 'U.S. dollars',
    'Q': 'U.S. dollars; annual percent change',
    'R': 'U.S. dollars; index, 2000=100',
    'S': 'Purchasing power parity; 2017 international dollar',
    'T': 'Purchasing power parity; international dollar',
    'U': 'Index, 2016=100',
    'V': 'Purchasing power parity, percent change',
}

concept_code_dict = {
    'BCA':r'Current account balance',
    'BCA_NGDPD':r'Current account balance',
    'BF':r'Financial account balance',
    'BFD':r'Direct investment, net',
    'BFF':r'Financial derivatives, net',
    'BFO':r'Other investment, net',
    'BFP':r'Portfolio investment, net',
    'BFRA':r'Change in reserves',
    'BM':r'Imports of goods and services',
    'BX':r'Exports of goods and services',
    'D':r'External debt, total',
    'D_BX':r'External debt, total',
    'D_NGDPD':r'External debt, total',
    'DS':r'External debt, total debt service',
    'DS_BX':r'External debt, total debt service',
    'DS_NGDPD':r'External debt, total debt service',
    'DSI':r'External debt, total debt service, interest',
    'DSI_BX':r'External debt, total debt service, interest',
    'DSI_NGDPD':r'External debt, total debt service, interest',
    'DSP':r'External debt, total debt service, amortization',
    'DSP_BX':r'External debt, total debt service, amortization',
    'DSP_NGDPD':r'External debt, total debt service, amortization',
    'GGR':r'General government revenue',
    'GGR_NGDP':r'General government revenue',
    'GGSB':r'General government structural balance',
    'GGSB_NPGDP':r'General government structural balance',
    'GGX':r'General government total expenditure',
    'GGX_NGDP':r'General government total expenditure',
    'GGXCNL':r'General government net lending/borrowing',
    'GGXCNL_NGDP':r'General government net lending/borrowing',
    'GGXONLB':r'General government primary net lending/borrowing',
    'GGXONLB_NGDP':r'General government primary net lending/borrowing',
    'GGXWDG':r'General government gross debt',
    'GGXWDG_NGDP':r'General government gross debt',
    'GGXWDN':r'General government net debt',
    'GGXWDN_NGDP':r'General government net debt',
    'LE':r'Employment',
    'LP':r'Population',
    'LUR':r'Unemployment rate',
    'NGAP_NPGDP':r'Output gap',
    'NGDP':r'Gross domestic product, current prices',
    'NGDP_D':r'Gross domestic product, deflator',
    'NGDP_FY':r'Gross domestic product corresponding to fiscal year, current prices',
    'NGDP_R':r'Gross domestic product, constant prices',
    'NGDP_RPCH':r'Gross domestic product, constant prices',
    'NGDP_RPCHMK':r'Gross domestic product, constant prices',
    'NGDPD':r'Gross domestic product, current prices',
    'NGDPDPC':r'Gross domestic product per capita, current prices',
    'NGDPPC':r'Gross domestic product per capita, current prices',
    'NGDPRPC':r'Gross domestic product per capita, constant prices',
    'NGSD_NGDP':r'Gross national savings',
    'NID_NGDP':r'Investment',
    'PALLFNFW':r'Commodity Price Index includes both Fuel and Non-Fuel Price Indices',
    'PALUM':r'Aluminum, 99.5% minimum purity, LME spot price, CIF UK ports, US$ per metric tonne',
    'PBANSOP':r'Bananas, Central American and Ecuador, FOB U.S. Ports, US$ per metric tonne',
    'PBARL':r'Barley, Canadian no.1 Western Barley, spot price, US$ per metric tonne',
    'PBEEF':r'Beef, Australian and New Zealand 85% lean fores, FOB U.S. import price, US cents per pound',
    'PBEVEW':r'Commodity Beverage Price Index includes Coffee, Tea, and Cocoa',
    'PCEREW':r'Commodity Cereals Price Index includes Wheat, Maize (Corn), Rice, and Barley',
    'PCOALAU':r'Coal, Australian thermal coal, 1200- btu/pound, less than 1% sulfur, 14% ash, FOB Newcastle/Port Kembla, US$ per metric tonne',
    'PCOALSA':r'Coal, South African export price, US$ per metric tonne',
    'PCOALW':r'Commodity Coal Price Index includes Australian and South African Coal',
    'PCOCO':r'Cocoa beans, International Cocoa Organization cash price, CIF US and European ports, US$ per metric tonne',
    'PCOFFOTM':r'Coffee, Other Mild Arabicas, International Coffee Organization New York cash price, ex-dock New York, US cents per pound',
    'PCOFFROB':r'Coffee, Robusta, International Coffee Organization New York cash price, ex-dock New York, US cents per pound',
    'PCOFFW':r'Commodity Coffee Price Index includes Other Mild Arabicas and Robusta',
    'PCOPP':r'Copper, grade A cathode, LME spot price, CIF European ports, US$ per metric tonne',
    'PCOTTIND':r'Cotton, Cotton Outlook `A Index`, Middling 1-3/32 inch staple, CIF Liverpool, US cents per pound',
    'PCPI':r'Inflation, average consumer prices',
    'PCPIE':r'Inflation, end of period consumer prices',
    'PCPIEPCH':r'Inflation, end of period consumer prices',
    'PCPIPCH':r'Inflation, average consumer prices',
    'PFANDBW':r'Commodity Food and Beverage Price Index includes Food and Beverage Price Indices',
    'PFISH':r'Fishmeal, Peru Fish meal/pellets 65% protein, CIF, US$ per metric tonne',
    'PFOODW':r'Commodity Food Price Index includes Cereal, Vegetable Oils, Meat, Seafood, Sugar, Bananas, and Oranges Price Indices',
    'PGNUTS':r'Groundnuts (peanuts), 40/50 (40 to 50 count per ounce), cif Argentina, US$ per metric tonne',
    'PHARDW':r'Commodity Hardwood Price Index includes Hardwood Logs and Hardwood Sawn Price Indices',
    'PHIDE':r'Hides, Heavy native steers, over 53 pounds, wholesale dealer`s price, US cents per pound',
    'PINDUW':r'Commodity Industrial Inputs Price Index includes Agricultural Raw Materials and Metals Price Indices',
    'PIORECR':r'Iron Ore, China import Iron Ore Fines 62% FE spot (CFR Tianjin port) US$ per metric ton',
    'PLAMB':r'Lamb, frozen carcass Smithfield London, US cents per pound',
    'PLEAD':r'Lead, 99.97% pure, LME spot price, CIF European Ports, US$ per metric tonne',
    'PLOGORE':r'Soft Logs, Average Export price from the U.S. for Douglas Fir, US$ per cubic meter',
    'PLOGSK':r'Hard Logs, Best quality Malaysian meranti, import price Japan, US$ per cubic meter',
    'PMAIZMT':r'Maize (corn), U.S. No.2 Yellow, FOB Gulf of Mexico, U.S. price, US$ per metric tonne',
    'PMEATW':r'Commodity Meat Price Index includes Beef, Lamb, Swine (pork), and Poultry Price Indices',
    'PMETAW':r'Commodity Metals Price Index includes Copper, Aluminum, Iron Ore, Tin, Nickel, Zinc, Lead, and Uranium Price Indices',
    'PNFUELW':r'Commodity Non-Fuel Price Index includes Food and Beverages and Industrial Inputs Price Indices',
    'PNGASEU':r'Natural Gas, Russian Natural Gas border price in Germany, US$ per million metric British thermal units of gas',
    'PNGASJP':r'Natural Gas, Indonesian Liquified Natural Gas in Japan, US$ per million metric British thermal units of liquid',
    'PNGASUS':r'Natural Gas, Natural Gas spot price at the Henry Hub terminal in Louisiana, US$ per million metric British thermal units of gas',
    'PNGASW':r'Commodity Natural Gas Price Index includes European, Japanese, and American Natural Gas Price Indices',
    'PNICK':r'Nickel, melting grade, LME spot price, CIF European ports, US$ per metric tonne',
    'PNRGW':r'Commodity Fuel (energy) Index includes Crude oil (petroleum), Natural Gas, and Coal Price Indices',
    'POILAPSP':r'Crude Oil (petroleum), simple average of three spot prices; Dated Brent, West Texas Intermediate, and the Dubai Fateh, US$ per barrel',
    'POILAPSPW':r'Crude Oil (petroleum), Price index simple average of three spot prices (APSP); Dated Brent, West Texas Intermediate, and the Dubai Fateh',
    'POILBRE':r'Crude Oil (petroleum),  Dated Brent, light blend 38 API, fob U.K., US$ per barrel',
    'POILDUB':r'Oil; Dubai, medium, Fateh 32 API, fob Dubai Crude Oil (petroleum), Dubai Fateh Fateh 32 API, US$ per barrel',
    'POILWTI':r'Crude Oil (petroleum), West Texas Intermediate 40 API, Midland Texas, US$ per barrel',
    'POLVOIL':r'Olive Oil, extra virgin less than 1% free fatty acid, ex-tanker price U.K., US$ per metric tonne',
    'PORANG':r'Oranges, miscellaneous oranges French import price, US$ per metric tonne',
    'PPOIL':r'Palm oil, Malaysia Palm Oil Futures (first contract forward) 4-5 percent FFA, US$ per metric tonne',
    'PPORK':r'Swine (pork), 51-52% lean Hogs, U.S. price, US cents per pound',
    'PPOULT':r'Poultry (chicken), Whole bird spot price, Georgia docks, US cents per pound',
    'PPPEX':r'Implied PPP conversion rate',
    'PPPGDP':r'Gross domestic product based on purchasing-power-parity (PPP) valuation of country GDP',
    'PPPPC':r'Gross domestic product based on purchasing-power-parity (PPP) per capita GDP',
    'PPPSH':r'Gross domestic product based on purchasing-power-parity (PPP) share of world total',
    'PRAWMW':r'Commodity Agricultural Raw Materials Index includes Timber, Cotton, Wool, Rubber, and Hides Price Indices',
    'PRICENPQ':r'Rice, 5 percent broken milled white rice, Thailand nominal price quote, US$ per metric tonne',
    'PROIL':r'Rapeseed oil, crude, FOB Rotterdam, US$ per metric ton',
    'PRUBB':r'Rubber, No.1 Rubber Smoked Sheet, FOB Maylaysian/Singapore, US cents per pound',
    'PSALM':r'Fish (salmon), Farm Bred Norwegian Salmon, export price, US$ per kilogram',
    'PSAWMAL':r'Hard Sawnwood, Dark Red Meranti, select and better quality, C&F U.K port, US$ per cubic meter',
    'PSAWORE':r'Soft Sawnwood, average export price of Douglas Fir, U.S. Price, US$ per cubic meter',
    'PSEAFW':r'Commodity Seafood Index includes Fish (salmon) and Shrimp Price Indices',
    'PSHRI':r'Shrimp, Frozen shell-on headless, block 16/20 count, Indian origin, C&F Japan, US$ per kilogram',
    'PSMEA':r'Soybean Meal, Chicago Soybean Meal Futures (first contract forward) Minimum 48 percent protein, US$ per metric tonne',
    'PSOFTW':r'Commodity Softwood Index includes Softwood Sawn and Softwood Logs Price Indices',
    'PSOIL':r'Soybean Oil, Chicago Soybean Oil Futures (first contract forward) exchange approved grades, US$ per metric tonne',
    'PSOYB':r'Soybeans, U.S. soybeans, Chicago Soybean futures contract (first contract forward) No. 2 yellow and par, US$ per metric tonne',
    'PSUGAEEC':r'Sugar, European import price, CIF Europe, US cents per pound',
    'PSUGAISA':r'Sugar, Free Market, Coffee Sugar and Cocoa Exchange (CSCE) contract no.11 nearest future position, US cents per pound',
    'PSUGAUSA':r'Sugar, U.S. import price, contract no.14 nearest futures position, US cents per pound',
    'PSUGAW':r'Commodity Sugar Index includes European, Free market, and U.S. Price Indices',
    'PSUNO':r'Sunflower Oil, US export price from Gulf of Mexico, US$ per metric tonne',
    'PTEA':r'Tea, Mombasa, Kenya, Auction Price, US cents per kilogram',
    'PTIMBW':r'Commodity Timber Index includes Hardwood and Softwood Price Indices',
    'PTIN':r'Tin, standard grade, LME spot price, US$ per metric tonne',
    'PURAN':r'Uranium, u3o8 restricted price, Nuexco exchange spot, US$ per pound',
    'PVOILW':r'Commodity Vegetable Oil Index includes Soybean, Soybean Meal, Soybean Oil, Rapeseed Oil, Palm Oil, Sunflower Oil, Olive Oil, Fishmeal, and Groundnut Price Indices',
    'PWHEAMT':r'Wheat, No.1 Hard Red Winter, ordinary protein, FOB Gulf of Mexico, US$ per metric tonne',
    'PWOOLC':r'Wool, coarse, 23 micron, Australian Wool Exchange spot quote, US cents per kilogram',
    'PWOOLF':r'Wool, fine, 19 micron, Australian Wool Exchange spot quote, US cents per kilogram',
    'PWOOLW':r'Commodity Wool Index includes Coarse and Fine Wool Price Indices',
    'PZINC':r'Zinc, high grade 98% pure, US$ per metric tonne',
    'TM_RPCH':r'Volume of imports of goods and services',
    'TMG_RPCH':r'Volume of Imports of goods',
    'TRADEPCH':r'Trade volume of goods and services',
    'TTPCH':r'Terms of trade of goods and services',
    'TTTPCH':r'Terms of trade of goods',
    'TX_RPCH':r'Volume of exports of goods and services',
    'TXG_RPCH':r'Volume of exports of goods',
    'TXGM_D':r'Export price of manufactures',
    'TXGM_DPCH':r'Export price of manufactures',
    'NGDPRPPPPC':r'Gross domestic product per capita, constant prices',
}

ref_area_code = {
    '001':r"World",
    '110':r"Advanced Economies",
    '111':r"United States",
    '112':r"United Kingdom",
    '119':r"G7",
    '122':r"Austria",
    '123':r"Other Advanced Economies (Advanced Economies excluding G7 and Euro Area countries)",
    '124':r"Belgium",
    '128':r"Denmark",
    '132':r"France",
    '134':r"Germany",
    '135':r"San Marino",
    '136':r"Italy",
    '137':r"Luxembourg",
    '138':r"Netherlands",
    '142':r"Norway",
    '144':r"Sweden",
    '146':r"Switzerland",
    '156':r"Canada",
    '158':r"Japan",
    '163':r"Euro area",
    '171':r"Andorra",
    '172':r"Finland",
    '174':r"Greece",
    '176':r"Iceland",
    '178':r"Ireland",
    '181':r"Malta",
    '182':r"Portugal",
    '184':r"Spain",
    '186':r"Turkey",
    '193':r"Australia",
    '196':r"New Zealand",
    '199':r"South Africa",
    '200':r"Emerging Market and Developing Economies",
    '205':r"Latin America and the Caribbean",
    '213':r"Argentina",
    '218':r"Bolivia",
    '223':r"Brazil",
    '228':r"Chile",
    '233':r"Colombia",
    '238':r"Costa Rica",
    '243':r"Dominican Republic",
    '248':r"Ecuador",
    '253':r"El Salvador",
    '258':r"Guatemala",
    '263':r"Haiti",
    '268':r"Honduras",
    '273':r"Mexico",
    '278':r"Nicaragua",
    '283':r"Panama",
    '288':r"Paraguay",
    '293':r"Peru",
    '298':r"Uruguay",
    '299':r"Venezuela",
    '311':r"Antigua and Barbuda",
    '313':r"Bahamas, The",
    '314':r"Aruba",
    '316':r"Barbados",
    '321':r"Dominica",
    '328':r"Grenada",
    '336':r"Guyana",
    '339':r"Belize",
    '343':r"Jamaica",
    '359':r"Puerto Rico",
    '361':r"St. Kitts and Nevis",
    '362':r"St. Lucia",
    '364':r"St. Vincent and the Grenadines",
    '366':r"Suriname",
    '369':r"Trinidad and Tobago",
    '400':r"Middle East and Central Asia (MECA)",
    '419':r"Bahrain",
    '423':r"Cyprus",
    '429':r"Iran",
    '433':r"Iraq",
    '436':r"Israel",
    '439':r"Jordan",
    '443':r"Kuwait",
    '446':r"Lebanon",
    '449':r"Oman",
    '453':r"Qatar",
    '456':r"Saudi Arabia",
    '463':r"Syria",
    '466':r"United Arab Emirates",
    '469':r"Egypt",
    '474':r"Yemen",
    '487':r"West Bank and Gaza",
    '505':r"Emerging and Developing Asia",
    '511':r"ASEAN-5",
    '512':r"Afghanistan",
    '513':r"Bangladesh",
    '514':r"Bhutan",
    '516':r"Brunei Darussalam",
    '518':r"Myanmar",
    '522':r"Cambodia",
    '524':r"Sri Lanka",
    '528':r"Taiwan Province of China",
    '532':r"Hong Kong SAR",
    '534':r"India",
    '536':r"Indonesia",
    '537':r"Timor-Leste",
    '542':r"Korea",
    '544':r"Lao P.D.R.",
    '546':r"Macao SAR",
    '548':r"Malaysia",
    '556':r"Maldives",
    '558':r"Nepal",
    '564':r"Pakistan",
    '565':r"Palau",
    '566':r"Philippines",
    '576':r"Singapore",
    '578':r"Thailand",
    '582':r"Vietnam",
    '603':r"Sub-Sahara Africa",
    '611':r"Djibouti",
    '612':r"Algeria",
    '614':r"Angola",
    '616':r"Botswana",
    '618':r"Burundi",
    '622':r"Cameroon",
    '624':r"Cabo Verde",
    '626':r"Central African Republic",
    '628':r"Chad",
    '632':r"Comoros",
    '634':r"Congo, Republic of",
    '636':r"Congo, Democratic Republic of the",
    '638':r"Benin",
    '642':r"Equatorial Guinea",
    '643':r"Eritrea",
    '644':r"Ethiopia",
    '646':r"Gabon",
    '648':r"Gambia, The",
    '652':r"Ghana",
    '654':r"Guinea-Bissau",
    '656':r"Guinea",
    '662':r"Côte d'Ivoire",
    '664':r"Kenya",
    '666':r"Lesotho",
    '668':r"Liberia",
    '672':r"Libya",
    '674':r"Madagascar",
    '676':r"Malawi",
    '678':r"Mali",
    '682':r"Mauritania",
    '684':r"Mauritius",
    '686':r"Morocco",
    '688':r"Mozambique",
    '692':r"Niger",
    '694':r"Nigeria",
    '698':r"Zimbabwe",
    '714':r"Rwanda",
    '716':r"São Tomé and Príncipe",
    '718':r"Seychelles",
    '722':r"Senegal",
    '724':r"Sierra Leone",
    '726':r"Somalia",
    '728':r"Namibia",
    '732':r"Sudan",
    '733':r"South Sudan",
    '734':r"Eswatini",
    '738':r"Tanzania",
    '742':r"Togo",
    '744':r"Tunisia",
    '746':r"Uganda",
    '748':r"Burkina Faso",
    '754':r"Zambia",
    '813':r"Solomon Islands",
    '819':r"Fiji",
    '826':r"Kiribati",
    '836':r"Nauru",
    '846':r"Vanuatu",
    '853':r"Papua New Guinea",
    '862':r"Samoa",
    '866':r"Tonga",
    '867':r"Marshall Islands",
    '868':r"Micronesia",
    '869':r"Tuvalu",
    '903':r"Emerging and Developing Europe",
    '911':r"Armenia",
    '912':r"Azerbaijan",
    '913':r"Belarus",
    '914':r"Albania",
    '915':r"Georgia",
    '916':r"Kazakhstan",
    '917':r"Kyrgyz Republic",
    '918':r"Bulgaria",
    '921':r"Moldova",
    '922':r"Russia",
    '923':r"Tajikistan",
    '924':r"China",
    '925':r"Turkmenistan",
    '926':r"Ukraine",
    '927':r"Uzbekistan",
    '935':r"Czech Republic",
    '936':r"Slovak Republic",
    '939':r"Estonia",
    '941':r"Latvia",
    '942':r"Serbia",
    '943':r"Montenegro, Rep. of",
    '944':r"Hungary",
    '946':r"Lithuania",
    '948':r"Mongolia",
    '960':r"Croatia",
    '961':r"Slovenia",
    '962':r"North Macedonia",
    '963':r"Bosnia and Herzegovina",
    '964':r"Poland",
    '967':r"Kosovo",
    '968':r"Romania",
    '998':r"European Union",
}

"""
Annual	             :  To be used for data collected or disseminated every year.
Daily – businessweek :  Similar to "daily", however there are no observations for Saturdays and Sundays (so, neither "missing values" nor "numeric values" should be provided for Saturday and Sunday). This treatment ("business") is one way to deal with such cases, but it is not the only option. Such a time series could alternatively be considered daily ("D"), thus, with missing values in the weekend.
Daily	             :  To be used for data collected or disseminated every day.
Hourly	             :  To be used for data collected or disseminated every hour.
Monthly	             :  To be used for data collected or disseminated every month.
Minutely	         :  While N denotes "minutely", usually, there may be no observations every minute (for several series the frequency is usually "irregular" within a day/days). And though observations may be sparse (not collected or disseminated every minute), missing values do not need to be given for the minutes when no observations exist: in any case the time stamp determines when an observation is observed.
Quarterly	         :  To be used for data collected or disseminated every quarter.
Half-yearly, semester:  To be used for data collected or disseminated every semester.
Weekly	             :  To be used for data collected or disseminated every week.
"""
frequence_code_dict ={
    'A': 'Annual',
    'B': 'Daily – businessweek',
    'D': 'Daily',
    'H': 'Hourly',
    'M': 'Monthly',
    'N': 'Minutely',
    'Q': 'Quaterly',
    'S': 'Half-yearly, semester',
    'W': 'Weekly',
}

scale_dict = {
    '1000000000': 'Billions',
    '1000000': 'Millions',
    '1': 'Units'
}

In [8]:
import xml.etree.ElementTree as ET
tree = ET.parse(r"./WEO_PUB_APR2022.xml")
root = tree.getroot()

import csv
f = open('./weo_pub_converted_file.csv', 'w', encoding='utf_8', newline='')
writer = csv.writer(f)

header = ['unit', 'concept', 'ref_area', 'freq', 'last_actual_date', 'scale',
       'notes', 'time_period', 'obs']

writer.writerow(header)
all_list = []
count = 0

for series in range(len(root)):
    base_value = []
    series_attb = root[series].attrib
    for item in series_attb:
        base_value.append(series_attb[item])

    for obs in range(len(root[series])):
        year_value = []
        year_value.append(int(root[series][obs].get("TIME_PERIOD")))

        obs_value = root[series][obs].get("OBS_VALUE")
        year_value.append(float(obs_value) if obs_value.isdigit() else None)

        try:
            writer.writerow(base_value + year_value)
        except:
            print(base_value + year_value)
            raise Exception("faile")
            
        count += 1

        if count > 10000:
            count = 0
            f.close()
            f = open('./weo_pub_converted_file.csv', 'a+', encoding='utf_8', newline='')
            writer = csv.writer(f)
            
        # all_list.append(base_value + year_value)

# writer.writerows(all_list)

f.close()

In [9]:
import pandas as pd
weo_df = pd.read_csv(r"./weo_pub_converted_file.csv")

weo_df.head(5)

,unit,concept,ref_area,freq,last_actual_date,scale,notes,time_period,obs
0,B,NGDP_D,111,A,2021.0,NaN,"See notes for: Gross domestic product, const...",1980.0,NaN
1,B,NGDP_D,111,A,2021.0,NaN,"See notes for: Gross domestic product, const...",1981.0,NaN
2,B,NGDP_D,111,A,2021.0,NaN,"See notes for: Gross domestic product, const...",1982.0,NaN
3,B,NGDP_D,111,A,2021.0,NaN,"See notes for: Gross domestic product, const...",1983.0,NaN
4,B,NGDP_D,111,A,2021.0,NaN,"See notes for: Gross domestic product, const...",1984.0,NaN

In [1]:
weo_df['obs'].head()

NameError: name 'weo_df' is not defined